@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-color :lightgray" ;>
        <div class="text-center">

            <h1 class="display-4">Welcome to my application</h1>
            <br />
            <td>
                <img class="img-responsive" src="@Url.Content("~/images/items/cinema.jpg")" alt="">
            </td>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container" style="color:black;float:left;">
                &copy;2020 - Movie Application<a asp-area="" asp-controller="Home"></a>
            </div>
        </footer>
    </body>